body {
    background-color: ghostwhite;
}

h1 {
    width: 100%;
    margin-bottom: 1%;
    font-size: calc(0.3em + 2vw);
}

h2 {
    color: darkcyan;
    font-size: calc(0.5em + 1vw);
    margin: 1% 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.item {
    cursor: pointer;
}

.item_input {
    width: 0;
    height: 0;
    appearance: none;
    -webkit-appearance: none;
    display: none;
}

.item_header {
    display: flex;
    justify-content: space-between;
    border-top: solid 0.1em lightgray;
}

.header_title {
    transition: 0.5s;
}

.cross_icon {
    background-image: url(./assets/images/cross-small-svgrepo-com.svg);
    opacity: 0;
    background-size: 1em 1em;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    transition: 0.7s;
}

.hidden_image {
    height: auto;
    text-align: center;
    height: 0;
    transition: 1s;
    overflow: hidden;
}

.image {
    width: 10em;
}

@media (hover: hover) {
    .item_input[name=item]:hover~.hidden_image {
        height: 8.75em;
        margin-bottom: 0.8em;
    }

    .container:hover h2 {
        color: black;
    }

    .container:hover .item .item_header .cross_icon {
        opacity: 1;
    }
}